body {
    background-color: #231e1e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
   

}

.bottom-icons{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

.bottom-icons a{
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}

.add-icon{
  font-size: 30px;
  color: #ff2e63;
}

/* content hide na ho */
body{
  padding-bottom: 65px;
}


.navbar_section {
    padding: 0px;
    padding: 5px;
}

.navbar_con {
    padding-left: 0px;
    padding-right: 0px;
}

.nvabarpro {
    justify-items: end;
}

.navbar_button {
    background-color: rgba(226, 224, 221, 0.959);
}

.navbar_button:hover {
    background-color: rgba(39, 49, 107, 0.575);
}

.navbar {
    background-color: rgb(15, 15, 15) !important;
    border-bottom: 1px solid #ddd;
}

img.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}


.navbar-nav li a {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    
}


.navbar-nav li a {
    text-align: start;
}



.idname {
    font-size: 20px;
    text-decoration: none;
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-decoration: none;
}

.navbar a.d-flex.align-items-center.text-decoration-none.text-dark {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(19, 223, 46);
}

.navbar a.d-flex.align-items-center.text-decoration-none.text-dark img {
    object-fit: cover;
}

.navbar-nav.me-auto .nav-link {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    transition: color 0.2s ease-in-out;

}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 10px;
}



.navbar-nav.ms-auto .nav-link:hover {
    color: rgba(9, 234, 46, 0.925);
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    color: rgba(73, 235, 9, 0.925);
    text-decoration: underline;
}



.navbar_left li a {
    color: white;
}

.navbar-nav.ms-auto .nav-link {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.2s ease-in-out;
}

.usernamems {
    color: white;
}


.navbar-nav .fa-solid {
    font-size: 1.1rem;
}

.chat-container {
    max-width: 600px;
    margin: auto;
    background: #efeae2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


.chat_header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 12px;
    background-color: #22576e;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.chat_header p {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.meta-ai-ring {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    border: 3px solid white;
    
  
    background: conic-gradient(
        #06f7e3, 
        #0d00ff, 
        #7e03f1, 
        #f5032b, 
        #06f7f3,
        rgb(17, 255, 0)
    );

   
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 100%), #fff 0);
    mask: radial-gradient(farthest-side, transparent calc(100% - 100%), #fff 0);

    
    animation: rotateMeta 3s linear infinite;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.meta-ai-ring:hover {
    transform: scale(1.1);
}


@keyframes rotateMeta {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ai-trigger-link {
    text-decoration: none;
    display: flex;
}

.ai_style_coding a p {
    color: white;
    text-decoration: none;
    padding-right: 5px;
    font-size: 25px;
}
.ai_style_coding a p:hover{
    color: rgb(6, 255, 22);
}
/* end code  */
.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
    background-color: #e2e0e0e1;
    display: flex;
    flex-direction: column;
}


.chat-messages::-webkit-scrollbar {
    width: 5px;
}
.chat-messages::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
}


.message {
    display: flex;
    margin-bottom: 10px;
}


.bubble {
    max-width: 70%;
    padding: 8px 10px;
    border-radius: 7px;
    font-size: 14px;
    position: relative;
    word-wrap: break-word;
}


.sender-message {
    justify-content: flex-end;
    text-align: start;
}

.sender-message .bubble {
   background-color: white;
    border-top-right-radius: 0;
}


.receiver-message {
    justify-content: flex-start;
}

.receiver-message .bubble {
    background-color: #22576e;
    color: #ffffff;
    border-top-left-radius: 0;
}

.delete-form {
    position: absolute;
    top: 2px;
    right: -22px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 12px;
}


#messageForm {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e2e0e0e1;
    border-top: 1px solid #ddd;
    box-shadow: none;
}

#messageForm .form-control {
     border-radius: 20px 0px 0px 20px; 
    padding: 10px 15px;
    border: none;
    outline: none;
    height: 40px;
}

#messageForm .form-control::placeholder {
    color: #555;
}

.send_button {
    border-radius: 20px;
    /*background: #075e54;*/
    background-color: #22576e;
    color: white;
    border: none;
    padding: 0 18px;
    
}
.send_button:hover{
    background-color: #22576e;
    color: white;
}
.bottom-icons{
  background: #000;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1050;
}

.bottom-icons a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.add-icon{
  font-size: 28px;
  color: #ff2e63;
}


.option-box {
    position: absolute;
    bottom: 45px;
    right: 10px;
    background: #222;
    border-radius: 8px;
    display: none;
    z-index: 999;
    min-width: 120px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.option-box button {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.option-box button:hover {
    background: #333;
}

.sender-message .bubble {
    position: relative;
    cursor: pointer;
}
.chat-messages {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.edit-input{
  width:100%;
  border:none;
  outline:none;
  padding:6px 8px;
  border-radius:6px;
  font-size:14px;
}

/* button camera file emojo  style*/

@media (max-width: 767px) {
    .chat-container {
        border-radius: 0;
        height: calc(100vh - 120px);
    }

    .chat-messages {
        height: calc(100vh - 220px);
    }
    #messageForm .form-control {
     border-radius: 20px 0px 0px 20px; 
    padding: 10px 15px;
    border: none;
    outline: none;
    height: 40px;
    }
    .emoji {
   border: none;
   border-radius: 20px 0px 0px 20px;
   background-color: white;
}
.send_button {
    border-radius: 20px;
    background: #075e54;
    background-color: #22576e;
    color: white;
    border: none;
    /* padding: 0 18px; */
    padding: 5px;
    
}
.send_button:hover{
    background-color: #22576e;
    color: white;
}
}
