*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#magic-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 350px;
}

form {
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.301);
    box-shadow: 0 0 40px rgba(57, 54, 80, 0.6);
    padding: 50px 35px;
}

form * {
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


form h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 20px;
}

.colorful-title span:nth-child(1) { color: #ff595f; }
.colorful-title span:nth-child(2) { color: #ffca3a; }
.colorful-title span:nth-child(3) { color: #8ac926; }
.colorful-title span:nth-child(4) { color: #1982c4; }
.colorful-title span:nth-child(5) { color: #7a3bd3; }
.colorful-title span:nth-child(6) { color: #f72584c6; }   
.colorful-title span:nth-child(7) { color: #390ca3c8; }   
.colorful-title span:nth-child(8) { color: #4362eec9; }  
.colorful-title span:nth-child(9) { color: #4ccaf0; }  
.colorful-title span:nth-child(10) { color: #00f5d4c6; }
.colorful-title span:nth-child(11) { color: #dfef63c6; }   
.colorful-title span:nth-child(12) { color: #0b6ae7c8; }   
.colorful-title span:nth-child(13) { color: #dd700ac9; }  
.colorful-title span:nth-child(14) { color: #e40d46; }  

form input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

form input::placeholder {
    color: #232222;
   
}

form button {
    margin-top: 30px;
    width: 100%;
    background: white;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #232a63;
    color: white;
}
.container,
form {
    position: relative;
    z-index: 2;
}
.label-content-new-password {
    color: #302f2f;
    margin-bottom: 7px;
}
.message-success {
    background: rgba(0, 255, 0, 0.15);
    border: 1px solid rgba(0, 255, 0, 0.4);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

.message-error {
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid rgba(255, 0, 0, 0.4);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    form {
        padding: 35px 25px;
    }

    form h2 {
        font-size: 26px;
    }
}

