body {
    background: #231e1e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
    width: 100%;
    height: 100%;
}

.navbar_section {
    padding: 0px;
    padding: 5px;
}

.navbar_con {
    padding-left: 0px;
    padding-right: 0px;
}

.nvabarpro {
    justify-items: end;
}

.navbar_button {
    background-color: rgba(7, 7, 7, 0.959);
    border: none;
    color: white;
}

.navbar_button:hover {
    background-color: rgba(15, 15, 15, 0.902);
    border: none;
    color: white;
}

.navbar {
    background-color: rgb(19, 20, 19) !important;
    border-bottom: 1px solid #ddd;
}

img.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav li a {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}

.navbar-nav li a {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}

.idname {
    font-size: 20px;
    text-decoration: none;
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-decoration: none;
}

.navbar a.d-flex.align-items-center.text-decoration-none.text-dark {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(19, 223, 46);
}

.navbar a.d-flex.align-items-center.text-decoration-none.text-dark img {
    object-fit: cover;
}

.navbar-nav.me-auto .nav-link {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    transition: color 0.2s ease-in-out;

}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 10px;
}
.navbar-nav.me-auto .nav-link:hover{
    color: rgba(73, 235, 9, 0.925);
}
.navbar-nav .nav-link:hover {
    color: rgba(73, 235, 9, 0.925);
    text-decoration: underline;
}



.navbar_left li a {
    color: white;
}

.navbar-nav.ms-auto .nav-link {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.2s ease-in-out;
}

.usernamems {
    color: white;
}



.navbar-nav.ms-auto .nav-link:hover {
    color: rgb(3, 250, 3);
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    color: rgb(4, 243, 4);
    text-decoration: underline;
}

.navbar-nav .fa-solid {
    font-size: 1.1rem;
}

.card {
    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.btn-outline-primary {
    font-weight: 600;
    border-radius: 20px;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

a.text-decoration-none:hover {
    color: rgba(73, 235, 9, 0.925);
    text-decoration: underline;
}



.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.image-item {
    width: 100%;
    max-width: 220px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.profile_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile_image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}

.profile_header {
    background-color: black;
    width: 100%;
    height: 165px;
}

.hidden-scroll {
  max-height: 60px;
  overflow-y: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hidden-scroll::-webkit-scrollbar {
  display: none; 
}
.id_profile {
    text-align: end;
    margin-right: 20px;
    
}
.caption-scroll {
  max-height: 50px;          
  overflow-y: auto;         
  padding-right: 4px;
}


.caption-scroll::-webkit-scrollbar {
  width: 4px;
}

.caption-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}


/*nav bar */
/* MOBILE BOTTOM ICON BAR */
.bottom-icons{
  background: #000;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1050;
}

.bottom-icons a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.add-icon{
  font-size: 28px;
  color: #ff2e63;
}

/* content hide na ho */
body{
  padding-bottom: 65px;
}
/*nevbar*/
.navbar-dark .navbar-toggler-icon {
    font-size: 15px;
    border: none;
}
@media (max-width: 767.98px) {
    .navbar a.d-flex.align-items-center.text-decoration-none.text-dark img {
        width: 32px;
        height: 32px;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .navbar_ullist {
        margin-top: 10px;

    }

    .usernamems {
        padding-left: 5px;
    }

    .post-card {
        margin: 20px auto;
        max-width: 100%;
        padding-bottom: 10px;
    }

    .post-image {
        width: 100%;
        height: auto;
        max-height: 400px;
        border-width: 6px;
    }

    .flex-row {
        flex-direction: column !important;
        align-items: center;
    }

    .ms-4 {
        margin-left: 0 !important;
        margin-top: 1rem !important;
    }
    .last_navbar li a {
       margin-left: 37%;
    }
    .ms-3 {
        margin-left: 0 !important;
        margin-top: 1rem !important;
        text-align: center;
    }
    .profile_image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    }
     .id_profile {
         padding-top: 10px;
         margin-right: 0px;
    }
    .profile_image {
        margin: 0px;
    }
}