* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.colorful-title span:nth-child(1) { color: #f5030bfe; } 
  .colorful-title span:nth-child(2) { color: #f3b306; }  
  .colorful-title span:nth-child(3) { color: #9bf905fb; }   
  .colorful-title span:nth-child(4) { color: #0898f1; }   
  .colorful-title span:nth-child(5) { color: #6b06f9fc; }   
  .colorful-title span:nth-child(6) { color: #ff0676; }   
  .colorful-title span:nth-child(7) { color: #4c03f8; }   
  .colorful-title span:nth-child(8) { color: #0732ef; }  
  .colorful-title span:nth-child(9) { color: #04c1fb; }  
  .colorful-title span:nth-child(10) { color: #00f5d4c6; }  
  .colorful-title span:nth-child(11) { color: #061450; } 
.colorful-title {
  font-size: 30px;
}
body {
    overflow-x: hidden;
    background: #000;
    color: #fff;
    position: relative;
}

#magic-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hidden-scroll {
    overflow: hidden;
}


.form-container {
    width: 400px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 35px 30px;
    margin: 70px auto;
    color: #fff;
    animation: fadeIn 0.5s ease-out;
    border: 2px solid rgba(255, 255, 255, 0.301);
}

.form-container h3 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 2.1rem;
}

.text-start {
  padding-bottom: 20px;
}
.text-start label {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.605);
} 
.form-control {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #4644445f;
    padding: 10px 12px;
    height: 45px;
}

.form-control::placeholder {
    color:rgba(0, 0, 0, 0.68);
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    border-color: #fff;
    box-shadow: none;
}


.btn-custom {
    padding: 12px;
    background-color: #ffffff;
    color: #080710;
    border: none;
    border-radius: 8px;
    color: #000;
    font-size: 1.1rem;
    transition: 0.3s ease;
    font-weight: 600;
}

.btn-custom:hover {
    transform: scale(1.03);
    background-color: #050d49;
    color: #fff;
}


.account {
    margin-top: 15px;
    text-align: center;
    color: black;
}

.account p {
    font-size: 0.95rem;
}

.account a {
   color:  rgb(8, 8, 215);
   text-decoration: none;
   font-size: 17px;
    font-weight: 600;
}

.account a:hover {
    text-decoration:underline;
    color:  #2a1a71;
}


.alert {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .form-container {
        width: 90%;
        margin-top: 120px;
        padding: 25px;
    }

    .form-container h3 {
        font-size: 50rem;
    }

    .btn-custom {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 92%;
        margin-top: 100px;
    }

    .form-container h3 {
        font-size: 30px;
    }

    .form-control {
        height: 42px;
        font-size: 0.95rem;
        
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
